<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    <default-context-path>/</default-context-path>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <context-param>
        <param-name>repeatTransactionLimit</param-name>
        <param-value>5</param-value>
    </context-param>

    <context-param>
        <param-name>failedLoginAttemptsLimit</param-name>
        <param-value>5</param-value>
    </context-param>

    <context-param>
        <param-name>codeExpirationTime</param-name>
        <param-value>24</param-value>
    </context-param>

    <security-role>
        <role-name>ADMIN</role-name>
    </security-role>
    <security-role>
        <role-name>INSTRUCTOR</role-name>
    </security-role>
    <security-role>
        <role-name>TRAINEE</role-name>
    </security-role>
    <security-role>
        <role-name>SYSTEM</role-name>
    </security-role>

    <security-role>
        <role-name>logout</role-name>
    </security-role>
    <security-role>
        <role-name>updateToken</role-name>
    </security-role>
    <security-role>
        <role-name>lockAccount</role-name>
    </security-role>
    <security-role>
        <role-name>unlockAccount</role-name>
    </security-role>
    <security-role>
        <role-name>getOwnAccountDetails</role-name>
    </security-role>
    <security-role>
        <role-name>getOtherAccountDetails</role-name>
    </security-role>
    <security-role>
        <role-name>getAllAccounts</role-name>
    </security-role>
    <security-role>
        <role-name>editPersonalData</role-name>
    </security-role>
    <security-role>
        <role-name>editOwnEmail</role-name>
    </security-role>
    <security-role>
        <role-name>editOtherEmail</role-name>
    </security-role>
    <security-role>
        <role-name>changePassword</role-name>
    </security-role>
    <security-role>
        <role-name>switchAccessType</role-name>
    </security-role>
    <security-role>
        <role-name>grantAccessType</role-name>
    </security-role>
    <security-role>
        <role-name>revokeAccessType</role-name>
    </security-role>
    <security-role>
        <role-name>getOwnAccesses</role-name>
    </security-role>
    <security-role>
        <role-name>getOtherAccesses</role-name>
    </security-role>
    <security-role>
        <role-name>getTraineeAccess</role-name>
    </security-role>
    <security-role>
        <role-name>createCourse</role-name>
    </security-role>
    <security-role>
        <role-name>getOwnCourse</role-name>
    </security-role>
    <security-role>
        <role-name>getOtherCourse</role-name>
    </security-role>
    <security-role>
        <role-name>createPayment</role-name>
    </security-role>
    <security-role>
        <role-name>cancelPayment</role-name>
    </security-role>
    <security-role>
        <role-name>getPaymentsHistory</role-name>
    </security-role>
    <security-role>
        <role-name>confirmPayment</role-name>
    </security-role>
    <security-role>
        <role-name>rejectPayment</role-name>
    </security-role>
    <security-role>
        <role-name>getPaymentsForApproval</role-name>
    </security-role>
    <security-role>
        <role-name>getUnderpayments</role-name>
    </security-role>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Common</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

</web-app>
